/**
 * -- ANIMATIONS --
 */
.animate-bounce {
  animation: animate-bounce 1.25s ease-in-out alternate infinite;
}
@keyframes animate-bounce {
  0% {
    transform: translate(0, 20%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.animate-smooth-scroll {
  animation: smooth-scroll 1s ease;
}
@keyframes animate-smooth-scroll {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.animate-grayscale {
  animation: animate-grayscale 16s ease alternate infinite;
}
@keyframes animate-grayscale {
  0% {
    filter: blur(2px) grayscale(0);
  }
  15% {
    filter: blur(0) grayscale(0);
  }
  30% {
    filter: blur(2px) grayscale(.3333);
  }
  45% {
    filter: blur(0) grayscale(.3333);
  }
  60% {
    filter: blur(2px) grayscale(.6667);
  }
  75% {
    filter: blur(0) grayscale(.6667);
  }
  90% {
    filter: blur(2px) grayscale(1);
  }
  100% {
    filter: blur(0) grayscale(1);
  }
}
