* {
  box-sizing: border-box;
  //Better font rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //Transition everything
  transition: all 0.2s ease;
}
body,
html {
  font-family: $default-font;
}
img {
  display: inline-block;
  vertical-align: top;
}
/**
 * -- STICKY FOOTER
 */
body,
html {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -49px;
}
.page-wrap:after {
  display: block;
  content: "";
}
.page-wrap:after,
.site-footer {
  height: 49px;
}
.site-footer {
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: right;
  background: hsla(0, 0%, 7%, .65);
}
