/**
 * -- BUTTONS --
 */
.pure-button {
  text-transform: uppercase;
  border-radius: 0;
}
.pure-button-xlarge {
  font-size: 125%;
}
.pure-button-secondary {
  color: #fff;
  background: hsla(0,0%,7%,.45);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
