/**
 * -- CONTACTUS FORM --
 */
.pure-form {
  .control-group {
    input,
    select,
    textarea {
      color: hsla(0,0%,7%,.8);
      border-width: 2px;
      border-color: hsla(0,0%,7%,.45);
      border-radius: 0;
    }
    textarea {
      min-height: 8rem;
    }
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}
.contact-form {
  transition: opacity 2s ease;
  opacity: 1;
}
