/**
 * -- CONTACTS --
 */
.contacts {
  max-width: 17em;
  margin: 0 auto 4rem;
  text-align: left;
  .contact-link {
    display: inline-block;
    font-size: 1.25rem;
  }
  .contact-link:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
.contacts-page-main .contactus {
  margin-bottom: 4rem;
}
