/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  padding-top: 5rem;
  background: hsla(0,0%, 100%, .75);
}
.content-wrapper.content-wrapper-fixed {
  position: absolute;
  z-index: 2;
  top: 100vh;
  width: 100%;
  min-height: 12%;
}
.splash-container + .content-wrapper {
  padding-top: 0;
}
.content {
  padding: 3rem 0.75rem;
}
/* This is the class used for the main content headers (<h2>) */
.content-head {
  margin: 0 0 2.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
}
/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: white;
}
/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  margin: 0 0 1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #444;
  font-size: 1rem;
  font-weight: 600;
}
.content-subhead + p {
  line-height: 1.4;
}
.content-subhead + p::first-letter {
  text-transform: capitalize;
}
.services {
  // margin-bottom: 2.5rem;
}
.service-block {
  padding: 1rem 20%;
  text-align: center;
}
/* This is the class used for the dark-background areas. */
.ribbon {
  color: #fff;
  background: hsla(0, 0%, 60%,.65);
}
