/**
 * -- HELPERS --
 */
.text-center {
  text-align: center;
}
.text-contrast {
  color: #fff;
}
.scrim {
  background: hsla(0, 100%, 0%, .15);
  box-shadow: 0 0 20px 20px hsla(0, 100%, 0%, .15);
}
.block-center {
  display: block;
  margin: 0 auto;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hidden {
  display: none;
}
.transparent {
  opacity: 0 !important;
}
