/**
 * -- ABOUTUS HERO
 */
.hero {
  min-height: 33.33vh;
  margin-right: -.75rem;
  margin-bottom: 3rem;
  margin-left: -.75rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .contacts-page-main & {
    background-image: url('../images/globe.gif');
  }
}
