/**
 * -- ICON FONT --
 */
[class*=" icon-"] {
  vertical-align: middle;
}
// * + [class*=" icon-"] {
//   margin-right: 1rem;
// }
[class*=" icon-"] + * {
  margin-left: 1rem;
}
.icon-lg {
  font-size: 2.25rem;
}
