/**
 * -- LINKS --
 */
a:link {
  text-decoration: none;
  color: hsla(0, 0%, 7%, .9);
}
a:hover {
  color: hsla(0, 0%, 5%, 1);
}
a:visited {
  color: hsla(0, 0%, 7%, .9);
}
a:active {
  color: hsla(0, 0%, 7%, .9);
}
a span {
  vertical-align: middle;
}
