/**
 * -- PROJECT IMAGES GRID --
 */
.project {
  display: inline-block;
  margin-bottom: 3rem;
  width: 100%;
  .featured-image {
    border: 2px solid transparentize($brand-black, .5);
    border-bottom: none;
    width: 100%;
    height: 33.33vh;
    min-height: 320px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .lala0 {
    background-image: url("../images/portfolio/awesome-apt/LivingRoom_kitchen_04.jpg");
  }
  .lala1 {
    background-image: url("../images/portfolio/more-awesome-apt/cabinet_010.jpg");
  }
  .lala2 {
    background-image: url("../images/portfolio/icecreamcafe/icecreamcafe2-min.jpg");
  }
  .friendly-name {
    border: 2px solid transparentize($brand-black, .5);
    border-top: none;
    padding: 1rem 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.25px;
  }
}
// .portfolio {
//   margin-bottom: 4rem;
// }
// .project {
//   margin-bottom: 3rem;
// }
// .project-grid {
//   margin-right: -.25rem;
//   margin-bottom: 2rem;
//   margin-left: -.25rem;
// }
// .project-item-img {
//   width: 100%;
//   padding: 0.25rem;
// }
// .project-meta {
//   margin-bottom: 1.25rem;
// }
// .meta-title {
//   margin: 0 0 0.25rem;
//   letter-spacing: 0.25px;
//   text-transform: uppercase;
//   font-size: 0.9rem;
//   font-weight: 500;
// }
// .meta-content {
//   margin: 0;
// }
// .meta-horizontal .meta-content,
// .meta-horizontal .meta-title {
//   display: inline-block;
// }
// .meta-horizontal .meta-title {
//   margin-right: 1rem;
// }
