/**
 * RESET PURE-
 */
.pure-g [class*="pure-u"] {
  font-family: $default-font;
}
.pure-g {
  letter-spacing: normal;
}
.pure-menu {
  text-align: left;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}
.pure-menu-disabled,
.pure-menu-heading,
.pure-menu-link {
  padding: 1.5rem 2rem;
}
.pure-menu-link {
  text-transform: capitalize;
}
.pure-menu-link.active {
  background-color: hsl(0, 0%, 96%);
}
.pure-menu-heading {
  text-transform: uppercase;
}
.pure-menu-list .pure-menu-item {
  background: #fff;
}
.pure-menu-list.menu-list-slide-in {
  max-width: 33.33vw;
  max-height: 100vh;
}
.menu-list-trigger {
  padding: 0.97rem 2rem;
}
@media screen and (min-width: 64em) {
  .pure-u-lg-1-4 {
    width: 24.75%;
  }
}
@media (min-width: 701px) {
  .pure-menu-list {
    float: right;
  }
  .menu-list-trigger {
    display: none;
  }
}
@media (max-width: 700px) {
  .pure-menu-list {
    position: absolute;
    top: 67px;
    right: 0;
    float: none;
    max-width: 0;
    max-height: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
  }
  .pure-menu-list.menu-list-slide-in .pure-menu-item {
    min-width: 33.33vw;
  }
  .pure-menu-list .pure-menu-item {
    display: block;
  }
}
@media (max-width: 400px) {
  .pure-menu-list.menu-list-slide-in {
    max-width: 66.67vw;
  }
  .pure-menu-list.menu-list-slide-in .pure-menu-item {
    min-width: 66.67vw;
  }
}
