/**
 * -- SPLASH --
 */
.splash-container {
  height: 100vh;
}
.splash-container.splash-container-fixed {
  position: fixed !important;
  z-index: 1;
  top: 67px;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 67px);
}
.splash {
  position: relative;
  padding-top: 67px;
  text-align: center;
  text-transform: uppercase;
}
.splash-container-fixed .splash {
  padding: 0;
}
.splash-image {
  height: calc(100vh - 67px);
  background: url('../images/splash/splash-flowers.jpg') no-repeat center center;
  background-size: cover;
}
/* This is the main heading that appears on the blue section */
.splash-head {
  display: inline-block;
  padding: 1rem 15%;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 6rem;
}
.splash-subhead {
  letter-spacing: 0.05em;
  color: white;
  text-shadow: 1px 1px 2px hsla(0, 100%, 0%, .15);
  font-size: 1.5rem;
}
.splash-logo {
  width: 45vw;
}
@media (max-width: 900px) {
  .splash-logo {
    width: 60vw;
  }
  .splash-subhead {
    font-size: 1.25rem;
  }
}
@media (max-width: 400px) {
  .splash-logo {
    width: 96vw;
  }
  .splash-subhead {
    font-size: 1rem;
  }
}
.scroll-more {
  position: absolute;
  right: 0;
  bottom: 1%;
  left: 0;
  width: 120px;
  height: 120px;
  margin: 0 auto;
}
.scroll-more img {
  width: 120px;
  opacity: 0.75;
}
