@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?8i53el');
  src: url('../fonts/icomoon.eot?8i53el#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?8i53el') format('truetype'), url('../fonts/icomoon.woff?8i53el') format('woff'), url('../fonts/icomoon.svg?8i53el#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*=" icon-"],
[class^="icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-viber:before {
  content: "\e903";
}
.icon-whatsapp:before {
  content: "\e904";
}
.icon-hambuger:before {
  content: "\e902";
}
.icon-email:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
