/**
 * -- MISC --
 */
@import 'vars';
/**
 * -- FONTS --
 */
@import 'icomoon-fonts';
/**
 * -- PURE LIB --
 */
@import 'libs/pure';
@import 'libs/pure-grids-responsive';
/**
 * -- PARTIALS --
 */
@import 'partials/base';
@import 'partials/purereset';
@import 'partials/helpers';
@import 'partials/iconfonts';
@import 'partials/typography';
@import 'partials/links';
@import 'partials/buttons';
@import 'partials/animations';
/**
 * Components
 */
@import 'partials/splash';
@import 'partials/content';
@import 'partials/contacts';
@import 'partials/contactus';
@import 'partials/projectimages';
@import 'partials/hero';
/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }
  .splash-head {
    font-size: 250%;
  }
}
/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}
