extends partials/_main.jade

block vars
  - var copy = ['Здравствуйте! Меня зовут Елена, будем знакомы :)','История создания студии берёт свои истоки из далёкого прошлого, когда мечты казались очень реальными и не имели границ. Мне всегда хотелось создавать необычные и красивые вещи. Время шло,  чувство это росло.','Взрослеешь и понимаешь, что самое необычайное и важное место - это твой дом. Дом, в котором всегда должен царить уют, тепло и красота.','Спустя годы учебы и приобретения опыта, мы начали создавать дома, в которых каждый находит свою красоту, тепло и уют.','Будем рады всем, кто придёт в наш дом - студию  ONEDES!'];

block title
  title Контакты | Onedes - Студия Архитектурного Дизайна

block content
  .content
    h1.content-head.text-center о студии
    .pure-g
      .pure-u-sm-1-1.pure-u-md-1-4.text-center.block-center
        img.logo-animated(src="images/logo-animated.gif")
      .pure-u-sm-1-1.pure-u-md-3-4
        for paragraph in copy
          p.copy= paragraph
