extends partials/_main.jade

block vars
  - var isContactsPage = true;

block title
  title Контакты | Onedes - Студия Архитектурного Дизайна

block content
  .content.contacts-page-main
    h1.content-head.text-center контакты
    .hero
    .pure-g
      .pure-u-1-1.pure-u-md-1-2
        include partials/_contacts.jade
      .pure-u-1-1.pure-u-md-1-2
        .pure-g
          .pure-u-1-1.pure-u-xl-2-3.block-center
            include partials/_contactform.jade
