extends partials/_main.jade

block vars
  - var isHomePage = true;

block title
  title Главная | Onedes - Студия Архитектурного Дизайна

block hero
  .splash-container.splash-container-fixed
    .splash
      .splash-image
      .splash-copy.centered
        img.splash-logo(src="images/logo.svg")
        p.splash-subhead студия архитектурного дизайна
    .scroll-more.animate-bounce
      img(src="images/icons/arrow-down.svg")

block content
  //- Services section
  .content
    h2.content-head.text-center наши услуги
    .pure-g.services
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead индивидуальный подход
          p ваш проект будет уникальным
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead 3d визуализация
          p разработка трехмерного визуального проекта позволит вам увидеть
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead рабочая документация
          p пакет чертежей для прикладной работы с проектом
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
        .service-block
          h3.content-subhead сопровождение
          p личное сопровождение дизайнером работы над каждым из этапов проекта

  //- Portfolio section
  //- .content.portfolio
  //-   .pure-g
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/LivingRoom_kitchen_09.jpg")
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/LivingRoom_kitchen_07.jpg")
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/bedroom_05.jpg")
  //-     .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4
  //-       img(src="images/noname/bedroom_04.jpg")

  //- Contacts section
  .content.ribbon
    h2.content-head.text-center связаться с нами
    include partials/_contacts.jade
    .pure-g
      .pure-u-1.pure-u-sm-4-5.pure-u-md-2-3.pure-u-lg-1-2.pure-u-xl-1-3.block-center
        include partials/_contactform.jade

  include partials/_footer.jade
