extends partials/_main.jade

block vars
  - var isPortfolioPage = true;

block title
  title Портфолио | Onedes - Студия Архитектурного Дизайна

block content
  .content
    h1.content-head.text-center портфолио
    a.project(href="project-awesome-apt.html")
      .featured-image.lala0
      .friendly-name Расчудесная квартира
    a.project(href="project-more-awesome-apt.html")
      .featured-image.lala1
      .friendly-name Расчудесная квартира
    a.project(href="project-ice-cream-cafe.html")
      .featured-image.lala2
      .friendly-name Расчудесная квартира
