extends partials/_main.jade

block title
  title Дивная Квартира | Проект | Onedes - Студия Архитектурного Дизайна

block content
  .project-grid.pure-g
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_01.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_02.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_03.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_04.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_05.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_06.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_07.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_08.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/LivingRoom_kitchen_09.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/Bathroom_01.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/Bathroom_02.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/Bathroom_03.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/bedroom_01.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/bedroom_02.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/bedroom_03.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/bedroom_04.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/bedroom_05.jpg")
    .project-item.pure-u-sm-1-2.pure-u-md-1-3.pure-u-xl-1-4
      img.project-item-img(src="images/noname/bedroom_06.jpg")
