.contactus
  p.js-contactus-tagline.content-subhead.text-center отправьте нам сообщение
  p.js-contactus-tagline-success.content-subhead.text-center.hidden.transparent ваше сообщение было успешно отправлено!

  form.contact-form.pure-form
    fieldset
      .control-group
        label(for="email-address") Ваш email-адрес
        input#email-address.pure-input-1(type="email", placeholder="you@email.co", required)

      .control-group
        label(for="email-content") Сообщение
        textarea#email-content.pure-input-1(type="text", placeholder="Напишите нам сообщение..", required)

    button.js-contactus-submit.pure-button.pure-button-secondary.pure-button-xlarge.pure-u-1-1(type="button") Отправить
