.contacts
  a.contact-link(href="mailto:onedesdes@gmail.com")
    span.icon-email.icon-lg
    span onedesdes@gmail.com
  br
  a.contact-link(href="tel:+380936235670")
    span.icon-phone.icon-lg
    span.icon-viber.icon-lg
    span +380936235670
  br
  a.contact-link(href="tel:+77786341588")
    span.icon-phone.icon-lg
    span.icon-viber.icon-lg
    span.icon-whatsapp.icon-lg
    span +77786341588
