nav.pure-menu.pure-menu-horizontal.pure-menu-fixed
  a.pure-menu-heading.pure-menu-link.pull-left(href="index.html") onedes
  ul.pure-menu-list
    li.pure-menu-item
      a.pure-menu-link(class= isHomePage ? "active" : "", href="index.html") главная
    li.pure-menu-item
      a.pure-menu-link(class= isPortfolioPage ? "active" : "", href="portfolio.html") портфолио
    li.pure-menu-item
      a.pure-menu-link(class= isAboutUsPage ? "active" : "", href="aboutus.html") о студии
    li.pure-menu-item
      a.pure-menu-link(class= isContactsPage ? "active" : "", href="contacts.html") контакты
  a.menu-list-trigger.pure-menu-link.pull-right(href="#")
    span.icon-hambuger.icon-lg
